.Item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.Item-left {
  border: solid;
  line-height: 0;
}

.Item-right {
  flex-grow: 1;
  margin: 10px;
}

.Item-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}

.Item-author {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}


.Item-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}


.Item-button-delete {
  cursor: pointer;
  color: gray;
  font-size: 40px;
  &:hover {
    color: black;
  }
}
